@import '~bootstrap/dist/css/bootstrap.min.css';

/* List of global colours */
:root {
  --background-colour: #4b4b4b;
  --foreground-colour: #2b2b2b;
  --border-colour: #3e3e3e;
  --button-colour: #303030;
}

body {
  background: var(--background-colour);
  color: white;
}

main {
  background-color: var(--foreground-colour);
}
