@import '~bootstrap/dist/css/bootstrap.min.css';

/* List of global colours */
:root {
  --background-colour: #4b4b4b;
  --foreground-colour: #2b2b2b;
  --border-colour: #3e3e3e;
  --input-colour: #585858;
  --primary-button-colour: rgb(0, 132, 255);
  --secondary-button-colour: ;
}
a {
  color: #fd710d;
}
.small {
  font-size: 9px;
}

body {
  background: var(--background-colour);
  color: white;
}

main {
  background-color: var(--foreground-colour);
  border-radius: 0.3em;
}

button {
  background: var(--button-colour);
}
